body{
    font-family: 'Courier New', Courier, monospace;
    color: #454;
    width: 70%;
    margin: 0 auto;
}

.content{
    padding: 10px;
    border: solid 1px #aaa;
    border-radius: 8px;

    
}


